<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Clinica Veterinaria</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
    
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />
    
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{{ asset('css/responsive.css') }}" rel="stylesheet" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    
    <!-- jQuery UI JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
    <!-- Carga de FullCalendar (versi贸n 6.x) -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" rel="stylesheet" />

<script>
      var idUser = '{{ app.user.id }}'
    </script>
    
    <script type="text/javascript" src="{{ asset('js/home.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/citas.js') }}"></script>

    
  </head>

  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="{{ path('app_home') }}">
              <img src="{{ asset('imagenes/logo.png') }}" alt="" />
              <span>Clinica Veterinaria</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto nav-links">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}">
                  <a class="nav-link" href="{{ path('app_home') }}"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_citas' %}active{% endif %}">
                  <a class="nav-link" href="{{ path('app_citas', {'id': app.user.id}) }}"><i class="fas fa-calendar-alt"></i> Citas</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_consultas_clientes' %}active{% endif %}">
                  <a class="nav-link" href="{{ path('app_consultas_clientes') }}"><i class="fas fa-calendar-alt"></i>Ver Consultas</a>
                </li>
              </ul>

              <div class="quote_btn-container d-flex justify-content-end">
                <div class="dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{{ asset('imagenes/' ~ app.user.photo) }}" alt="Logo" height="40" class="d-inline-block align-middle rounded-circle" /></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-margin" aria-labelledby="dropdownMenuButton1">
                    <li>
                      <p class="dropdown-item">
                        <img src="{{ asset('imagenes/usuario.png') }}" alt="User" height="18" class="d-inline-block align-middle" />
                        Hola, <b>{{ app.user.firstName|upper }} {{ app.user.lastName|upper }}</b>
                        <br />
                        Correo electr贸nico: {{ app.user.email }}
                      </p>
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ path('app_logout') }}"><img src="{{ asset('imagenes/cerrar-sesion.png') }}" alt="Cerrar sesi贸n" height="20" class="d-inline-block align-middle" /> Cerrar sesi贸n</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- end header section -->
      

    {% block body %}

    {% endblock %}

    <!-- footer section -->
    <section class="container-fluid footer_section">
      <p>
        &copy; 2019 All Rights Reserved By
        <a href="https://html.design/">Marcos Navidad</a>
      </p>
    </section>
    <!-- footer section -->
  </body>
</html>
